
Running configuration:

; hpStack_WC Configuration Editor; Created on release #WC.16.05.0007
; Ver #12:08.1d.9b.3f.bf.bb.ef.7c.59.fc.6b.fb.9f.fc.ff.ff.37.ef:ba

stacking
   member 1 type "JL319A" mac-address 3821c7-4bedc0
   exit
hostname "DC-Access"
trunk 1/21,1/23 trk1 lacp
ip default-gateway 172.33.1.1
snmp-server community "public" unrestricted
snmp-server community "aironoc" operator unrestricted
snmp-server host 172.32.253.50 community "aironoc" trap-level all
aaa authentication local-user "admin" group "Level-15"
oobm
   ip address dhcp-bootp
   member 1
      ip address dhcp-bootp
      exit
   exit
vlan 1
   name "DEFAULT_VLAN"
   no untagged 1/1,1/3
   untagged 1/2,1/4-1/20,1/22,1/24,Trk1
   ip address 172.33.1.3 255.255.255.0
   exit
vlan 253
   name "Server"
   untagged 1/1,1/3
   tagged Trk1
   no ip address
   exit
spanning-tree
spanning-tree Trk1 priority 4
spanning-tree mode rapid-pvst
no tftp server
no autorun
no dhcp config-file-update
no dhcp image-file-update
no dhcp tr69-acs-url
password manager
