
Running configuration:

; hpStack_KB Configuration Editor; Created on release #KB.16.11.0013
; Ver #14:6f.6f.f8.1d.fb.7f.bf.bb.ff.7c.59.fc.7b.ff.ff.fc.ff.ff.3f.ef:00

stacking
   member 1 type "JL075A" mac-address 9020c2-61fc00
   member 2 type "JL075A" mac-address 9020c2-617b80
   exit
hostname "DC-Core"
trunk 1/1,2/1 trk1 lacp
no telnet-server
no web-management
web-management ssl
ip default-gateway 172.33.1.1
snmp-server community "aironoc" unrestricted
snmp-server host 172.32.253.50 community "aironoc" trap-level all
aaa authentication local-user "admin" group "Level-15"
oobm
   ip address dhcp-bootp
   ipv6 enable
   ipv6 address dhcp full
   member 1
      ip address dhcp-bootp
      ipv6 enable
      ipv6 address dhcp full
      exit
   member 2
      ip address dhcp-bootp
      ipv6 enable
      ipv6 address dhcp full
      exit
   exit
vlan 1
   name "DEFAULT_VLAN"
   untagged 1/2-1/16,2/2-2/16,Trk1
   ip address 172.33.1.2 255.255.255.0
   ipv6 enable
   ipv6 address dhcp full
   exit
vlan 253
   name "Server"
   tagged 1/2,2/2,Trk1
   no ip address
   exit
spanning-tree
spanning-tree Trk1 priority 4
spanning-tree mode rapid-pvst
spanning-tree vlan 253 priority 0
spanning-tree priority 0
allow-unsupported-transceiver
password manager
